# Exercises Part I
Make a file named pandas_series.py or pandas_series.ipynb for the following exercises.

### Use pandas to create a Series named fruits from the following list:

    ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
    
Use Series attributes and methods to explore your fruits Series.

In [1]:
import numpy as np
import pandas as pd

In [2]:
fruits = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]
)
fruits

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [ ]:
- 1.Determine the number of elements in fruits

In [4]:
fruits.count()

17

In [ ]:
- 2.Output only the index from fruits.

In [8]:
fruits.index

RangeIndex(start=0, stop=17, step=1)

In [ ]:
- 3.Output only the values from fruits.

In [9]:
fruits.values

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew', 'kiwi',
       'kiwi', 'kiwi', 'mango', 'blueberry', 'blackberry', 'gooseberry',
       'papaya'], dtype=object)

In [ ]:
- 4.Confirm the data type of the values in fruits.

In [12]:
fruits.dtype

dtype('O')

In [ ]:
- 5.Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

In [16]:
fruits.head(5), fruits.tail(3), fruits.sample(2)

(0          kiwi
 1         mango
 2    strawberry
 3     pineapple
 4    gala apple
 dtype: object,
 14    blackberry
 15    gooseberry
 16        papaya
 dtype: object,
 2    strawberry
 9          kiwi
 dtype: object)

In [ ]:
- 6.Run the .describe() on fruits to see what information it returns when called on a Series with string values.

In [17]:
fruits.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [ ]:
- 7.Run the code necessary to produce only the unique string values from fruits.

In [18]:
fruits.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [ ]:
- 8.Determine how many times each unique string value occurs in fruits.

In [25]:
fruits.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [ ]:
- 9.Determine the string value that occurs most frequently in fruits.

In [32]:
(fruits.value_counts()).nlargest(n=1)

kiwi    4
dtype: int64

In [ ]:
- 10.Determine the string value that occurs least frequently in fruits.

In [33]:
(fruits.value_counts()).nsmallest(n=1, keep = 'all')

strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64